<nav>
    <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/v1/app'>All apps</li>
        {{#if appname}}
            <li>  <a href='/v1/app/{{appname}}'>All bugs of this app</a></li>
        {{/if}}
        <li><a href='/logout'>logout</a></li>
    </ul>
</nav>